@inject NavigationManager NavigationManager;
@page "/";
@page "/aplern";
@using ValCavalluBot.wwwroot.Components;
@using Shares
@using Shares.Model;
@using Services;
@using Shares.Enum;
@inject IBotManagerService BotManagerService;
@inject NavigationManager NavigationManager;

<link rel="stylesheet" href="/css/Index.css" />
<h1>Aplern</h1>
<button id="addBotBtn" class="btn btn-primary" @onclick="MoveToBotCreation">
    <img id="addBotIcon" src="/ICON/Flaticon/SVG/plus.svg" width="20" height="20" /> Bot
</button>
<hr />
<div class="row mt-3 mb-3">
    <table class="table">
        <thead>
            <tr>
                <th>Howrse Account</th>
                <th>Bot Id</th>
                <th>Aufgabe</th>
                <th>Start/Stop</th>
                <th>Löschen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (HowrseBotModel bot in Bots)
            {
                <BotDetailsComponent Bot="bot" OnBotDeletedEvent="OnBotDeletedEvent"></BotDetailsComponent>
            }
        </tbody>
    </table>
</div>
@code{

    private void MoveToBotCreation()
    {
        NavigationManager.NavigateTo("/newbot");
    }

    private List<HowrseBotModel> Bots { get; set; }

    protected override void OnInitialized()
    {
        Bots = BotManagerService.GetBots();

        if (Bots is null)
        {
            Bots = new();
        }
    }

    private void OnBotDeletedEvent(string botId)
    {
        Bots.RemoveAll(_ => _.Id == botId);
    }

}
