@page "/bots/{id}";
@using Shares.Model;
@using Shares.Enum;
@using Services;
@using Data.Model;
@using Data;
@using ValCavalluBot.wwwroot.Components;
@inject NavigationManager NavigationManager;
@inject ISettingsService SettingsService;
@inject IBotManagerService BotManagerService;



<link rel="stylesheet" href="/css/site.css" />

<h3>Bot Einstellungen (@Id)</h3>
<div class="row mt-3 mb-3">
    <div class="col-md-4">
        <label class="font-weight-bold">Howrse Benutzername</label>
        <input class="form-control" @bind="BotSettings.Credentials.HowrseUsername" />
    </div>
    <div class="col-md-4">
        <label class="font-weight-bold">Howrse Password</label>
        <input type="password" class="form-control" @bind="BotSettings.Credentials.HowrsePassword" />
    </div>
    <div class="col-md-4">
        <label class="font-weight-bold">Howrse Server</label>
        <input class="form-control" @bind="BotSettings.Server" />
    </div>
</div>
<hr />
<div class="row mt-3 mb-3">
    @foreach (HowrseActionCheckboxModel howrseAction in HowrseActionCheckboxModels)
    {
        <HowrseActionCheckboxComponent HowrseActionCheckboxModel="howrseAction"></HowrseActionCheckboxComponent>
    }
</div>
<div class="row mt-3 mb-3">
    <div class="col-md-2">
       
    </div>
</div>
<hr />
<div class="row mt-3 mb-3">
    <div class="col">
        <button class="btn btn-success form-control" @onclick="Save">Speichern</button>
    </div>
    <div class="col">
        <button class="btn btn-danger form-control" @onclick="Cancel">Abbrechen</button>
    </div>
</div>


@code {
    [Parameter]
    public string Id { get; set; }

    private BotSettingsModel BotSettings { get; set; }
    private List<HowrseActionCheckboxModel> HowrseActionCheckboxModels { get; set; }

    protected override void OnInitialized()
    {
        BotSettings = BotManagerService.GetBot(Id).Settings;
        HowrseActionCheckboxModels = HowrseActionHelper.Actions;

    }

    private void Save()
    {
        List<HowrseBotModel> bots = BotManagerService.GetBots();

        SettingsService.SaveBotSettings(bots.Select(_ => _.Settings).ToList());

        BotManagerService.AddTaskToQue(Id, new()
        {
            Name = "feeding",
            TaskType = HowrseTaskType.Feeding

        });

        BotManagerService.AddTaskToQue(Id, new()
        {
            Name = "drinking",
            TaskType = HowrseTaskType.Drinking

        });

        NavigationManager.NavigateTo("/dashboard");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/dashboard");
    }

    private void AddTaskToQue(string botId)
    {

    }
}
