@page "/settings";
@using Shares.Model;
@using Services;
@inject ISettingsService SettingsService;
@inject NavigationManager NavigationManager;

<h3>Einstellungen</h3>

<div class="row mt-3 mb-3">
    <div class="col">
        <label class="font-weight-bold">SolidProgramming Email</label>
        <input class="form-control" @bind="GeneralSettings.GeneralCredentials.Email" />
    </div>
    <div class="col">
        <label class="font-weight-bold">SolidProgramming Password</label>
        <input type="password" class="form-control" @bind="GeneralSettings.GeneralCredentials.Password" />
    </div>
</div>
<div class="row mt-5 mb-3">
    <div class="col">
        <div class="form-group row">
            <img src="/ICON/Flaticon/SVG/sandclock.svg" style="height:30px;" />
            <div class="mr-5">
                <input type="number" min="100" max="1000" step="10" @bind="@GeneralSettings.WaitTimeFrom"/>
                <label>
                    Von
                </label>
            </div>
            <div>
                <input type="number" min="200" max="3000" step="10" @bind="@GeneralSettings.WaitTimeTo"/>
                <label>
                    Bis
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5 mb-3">
    <div class="col">
        <button class="btn btn-success form-control" @onclick="Save">Speichern</button>
    </div>
    <div class="col">
        <button class="btn btn-danger form-control" @onclick="Cancel">Abbrechen</button>
    </div>
</div>

@code {
    private GeneralSettingsModel GeneralSettings { get; set; }

    //TODO: async
    protected override void OnInitialized()
    {
        GeneralSettings = SettingsService.LoadGeneralSettings();

        if (GeneralSettings is null)
        {
            GeneralSettings = new();
        }

    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }

    private void Save()
    {
        SettingsService.SaveGeneralSettings(GeneralSettings);
        NavigationManager.NavigateTo("/");
    }

}
