#addBotBtn {
    width: 110px;
    height: 40px;
    font-size: 14pt;
}

#addBotIco {
    margin-right: 5px;
    width: 28px;
    height: 28px;
    float: left;
    fill: white;
    color: white;
    background: url('/ICON/TradeAndDashboard/SVG/Trade_Icons-03.svg');
}
