<div class="row">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="zuchtDS" checked>
      <label class="form-check-label" for="zuchtDS">
        Zucht DS
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="teamDS">
      <label class="form-check-label" for="teamDS">
        Team DS
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="oeffentlicheDS">
      <label class="form-check-label" for="oeffentlicheDS">
        Öffentliche DS
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="affixDS">
      <label class="form-check-label" for="affixDS">
        Affix DS
      </label>
    </div>
</div>
<br />
@code {

}
