<td colspan="6">
    <div class="@(Collapsed? "collapse": "" )">
        <div class="row">
            <div class="col-md pt-1 pb-1 align-middle">
                <label class="m-0">Equus</label>
                <img src="/ICON/Flaticon/SVG/dollar.svg" height="28" width="28" />
                <!--<img alt="lodinggif"/>-->
                <label>1.443.123</label>
            </div>
            <div class="col-md pt-1 pb-1 align-middle">
                <label class="m-0">Pässe</label>
                <img src="/ICON/Flaticon/SVG/coin.svg" height="28" width="28" />
                <!--<img alt="lodinggif"/>-->
                <label>123</label>
            </div>
            <div class="col-md  pt-1 pb-1 align-middle">
                <label class="m-0">Rang</label>
                <img src="/ICON/Flaticon/SVG/podium.svg" height="28" width="28" />
                <!--<img alt="lodinggif"/>-->
                <label>100.432</label>
            </div>
            <div class="col-md  pt-1 pb-1 align-middle">
                <label class="m-0">Pferde</label>
                <img src="/ICON/Flaticon/SVG/horse2.svg" height="28" width="28" />
                <!--<img alt="lodinggif"/>-->
                <label>5.213</label>
            </div>
        </div>
        <hr />
        <div class="row mt-3">
            <div class="col-md pl-0">
                <div class="mt-1">
                    <img src="/ICON/Flaticon/SVG/thunder.svg" height="28" width="28" />
                    <div class="progress" style="display:inline-block; width: 200px">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                </div>
                <div class="mt-1">
                    <img src="/ICON/Flaticon/SVG/heart.svg" height="28" width="28" />
                    <div class="progress" style="display:inline-block; width: 200px">
                        <div class="progress" style="display:inline-block; width: 200px">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>
                    </div>
                </div>
                <div class="mt-1">
                    <img src="/ICON/Flaticon/SVG/sun.svg" height="28" width="28" />
                    <div class="progress" style="display:inline-block; width: 200px">
                        <div class="progress" style="display:inline-block; width: 200px">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md pl-0">
                <table class="table-borderless">
                    <tbody>
                        <tr>
                            <td class="p-0"><label>Ausdauer</label></td>
                            <td class="pt-1 pl-2">
                                <div class="progress" style="display:inline-block; width: 100px">
                                    <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0"><label>Tempo</label></td>
                            <td class="pt-1 pl-2">
                                <div class="progress" style="display:inline-block; width: 100px">
                                    <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">35%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0"><label>Dressur</label></td>
                            <td class="pt-1 pl-2">
                                <div class="progress" style="display:inline-block; width: 100px">
                                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0"><label>Galopp</label></td>
                            <td class="pt-1 pl-2">
                                <div class="progress" style="display:inline-block; width: 100px">
                                    <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0"> <label>Trab</label></td>
                            <td class="pt-1 pl-2">
                                <div class="progress" style="display:inline-block; width: 100px">
                                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0"> <label>Springen</label></td>
                            <td class="pt-1 pl-2">
                                <div class="progress" style="display:inline-block; width: 100px">
                                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md pl-0">
                <div class="row">
                    <div class="col text-center">
                        <label class="m-0">Ausdauer</label>
                        <hr class="m-auto" style="width: 80px;" />
                        <div>
                            <label>909</label>
                            <img src="/ICON/Flaticon/SVG/star.svg" height="16" width="16" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <label class="m-0">Tempo</label>
                        <hr class="m-auto" style="width: 80px;" />
                        <div>
                            <label>123</label>
                            <img src="/ICON/Flaticon/SVG/star.svg" height="16" width="16" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <label class="m-0">Dressur</label>
                        <hr class="m-auto" style="width: 80px;" />
                        <div>
                            <label>65</label>
                            <img src="/ICON/Flaticon/SVG/star.svg" height="16" width="16" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <label class="m-0">Galopp</label>
                        <hr class="m-auto" style="width: 80px;" />
                        <div>
                            <label>3451</label>
                            <img src="/ICON/Flaticon/SVG/star.svg" height="16" width="16" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <label class="m-0">Trab</label>
                        <hr class="m-auto" style="width: 80px;" />
                        <div>
                            <label>3645</label>
                            <img src="/ICON/Flaticon/SVG/star.svg" height="16" width="16" />
                        </div>
                    </div>
                    <div class="col text-center">
                        <label class="m-0">Springen</label>
                        <hr class="m-auto" style="width: 80px;" />
                        <div>
                            <label>1231</label>
                            <img src="/ICON/Flaticon/SVG/star.svg" height="16" width="16" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md pl-0">
                <img src="/ICON/Flaticon/SVG/horse.svg" height="180" width="180" />
            </div>
        </div>
    </div>
</td>


@code {
    [Parameter]
    public bool Collapsed { get; set; } = true;
}
