@using Shares.Model;
@using Enum;

<!-- Default checked -->
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="check@(Index)" @bind="@Checked">
    <label class="custom-control-label" for="check@(Index)">@HowrseBreeding.Name</label>
</div>
@code {
    [Parameter]
    public BotSettingsModel Settings { get; set; }

    [Parameter]
    public HowrseBreedingModel HowrseBreeding { get; set; }

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public EventCallback<HowrseBreedingModel> AddedBreedingEvent { get; set; }

    [Parameter]
    public EventCallback<HowrseBreedingModel> RemovedBreedingEvent { get; set; }

    [Parameter]
    public BreedingSelectionType SelectionType { get; set; }

    protected override void OnInitialized()
    {
        switch (SelectionType)
        {
            case BreedingSelectionType.Apler:
                if (Settings.ChosenBreedingsApler.Any(_ => _.ID == HowrseBreeding.ID))
                {
                    Checked = true;
                }                
                break;
            case BreedingSelectionType.Breed:
                if (Settings.ChosenBreedingsBreed.Any(_ => _.ID == HowrseBreeding.ID))
                {
                    Checked = true;
                }
                break;
            default:
                break;
        }
    }

    private bool _checked;

    private bool Checked
    {
        get
        {
            return _checked;
        }

        set
        {
            _checked = value;
            if (_checked)
            {
                AddedBreedingEvent.InvokeAsync(HowrseBreeding);
            }
            else
            {
                RemovedBreedingEvent.InvokeAsync(HowrseBreeding);
            }
        }
    }


}
