@using Data.Model;

<div class="col-sm-1">
    <img src="@HowrseActionCheckboxModel.ImageUrl" class="actionImage"  />
    <input class="form-check-input align-bottom" type="checkbox" checked="@HowrseActionCheckboxModel.Checked" />
</div>




@code {
    [Parameter] public HowrseActionCheckboxModel HowrseActionCheckboxModel { get; set; }
}
