@using ValCavalluBot.wwwroot.Components;
@using Shares.Model;

<ul class="row">
    @foreach (HowrseBreedingModel breeding in Breedings)
    {
        <li class="list-group-item col-md-3">
            <HowrseBreedingListItem HowrseBreeding="breeding" Index="Index"></HowrseBreedingListItem>
        </li>
        Index++;
    }
</ul>

@code {
    [Parameter]
    public List<HowrseBreedingModel> Breedings { get; set; }

    private int Index = 0;
}
