@using Data.Model; 

<div>
    <img src="@HowrseActionCheckboxModel.ImageUrl" class="h-100" />
    <input class="form-check-input" type="checkbox" checked="@HowrseActionCheckboxModel.Checked"/>
</div>


@code {
    [Parameter] public HowrseActionCheckboxModel HowrseActionCheckboxModel { get; set; }
}
