@inherits LayoutComponentBase
@using ValCavalluBot.wwwroot.Components;
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            <AutoUpdaterComponent></AutoUpdaterComponent>
            @Body
        </div>
    </div>
</div>
