<div class="top-row pl-4 navbar navbar-dark d-flex justify-content-center">
    <a class="navbar-brand" href="">ValCavallu</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="mt-2 mb-2">
    <img class="mx-auto d-flex" src="/Images/logo_small.png" />
</div>
<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="/ICON/Business/SVG/MARKET ANALYTICS.svg" class="h-100" /> Dashboard
            </NavLink>
        </li>
    </ul>
</div>
<!--<div class="dropdown mx-2 d-flex justify-content-center">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account #1
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Account #2</a>
        <a class="dropdown-item" href="#">Account #3</a>
        <a class="dropdown-item" href="#">Account #4</a>
    </div>
</div>-->

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="/ICON/Farm/SVG/5992 - Vegetables.svg" class="h-100" /> Aplern
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <img src="/ICON/Farm/SVG/5977 - Horse.svg" class="h-100" /> Züchten
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <img src="/ICON/Farm/SVG/5954 - Barn.svg" class="h-100" /> Reitzentrum
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <img src="/ICON/Business/SVG/LOAN MONEY.svg" class="h-100" /> Laden
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <img src="/ICON/Business/SVG/TEAM LEADER.svg" class="h-100" /> Teams
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <img src="/ICON/Business/SVG/KEY PERSON.svg" class="h-100" /> CO-Zugang
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/account">
                <img src="/ICON/TradeAndDashboard/SVG/Trade_Icons-70.svg" class="h-100" /> Account
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
